<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redline</title>
    <style>

    </style>

</head>
<body>
    <div id="rec">
        <p id="status">REC...</p>
    </div>
    <div id="curr_scene"> <p  id="curr_scene_text">Scene Name: Opening</p> </div>

    <div id="scene"> <p> Reposition <p></div>
</body>

<script src = "https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
    <script>

    </script>
</html>